[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset%C(auto)%d %<|(88,mtrunc)%s %C(bold blue)%an %<(13,trunc)%C(bold black)%cr%Creset'
	lga = log --graph --pretty=format:'%Cred%h%Creset%C(auto)%d %<|(88,mtrunc)%s %C(bold blue)%an %<(13,trunc)%C(bold black)%cr%Creset' --all
[user]
	name = TimSpence
	email = yogi.wan.kenobi@gmail.com
[core]
	editor = nvim
	whitespace = true
	pager = delta
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
	tool = vimdiff
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
	colorMoved = default
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[interactive]
	diffFilter = delta --color-only
[include]
	path = git-clones/dandavison/delta/themes.gitconfig
[delta]
	navigate = true    # use n and N to move between diff sections
	features = gruvmax-fang
	side-by-side = true
